<table class="ui sortable table segment">
  <thead>
    <tr>
      <th>Area</th>
      <th>Name</th>
      <th>Shape</th>
      <th>Pos</th>
      <th>Priority</th>
      <th>Owners</th>
      <th>Members</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr>
      <td><%= region.area %></td>
      <td><%= link_to region.name, region_path(region) %></td>
      <td><%= region.shape %></td>
      <td>
        Min: <%= region.min_pos %> <br/>
        Max: <%= region.max_pos %>
      </td>
      <td><%= region.priority %></td>
      <td><%= region.owners %></td>
      <td><%= region.members %></td>
      <td>
        <%= link_to 'Edit', edit_region_path(region) %>
         |
        <%= link_to 'Delete', region_path(region), :method => :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="8">
        <a href="<%= new_region_path %>">
          <div class="ui blue labeled button">Add Region</div>
        </a>
      </th>
    </tr>
  </tfoot>
</table>

<%= content_for :footer_scripts do %>
  <script type="text/javascript">
    $(function(){
      $('.sortable').tablesort();
    });
  </script>
<% end %>
